* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 90px;
  font-size: 20px;
  padding: 15px;
  color: white;
  border: none;
  outline: none;
  background-color: blueviolet;
  transition: all 0.5s;
  border-radius: 25px;
  cursor: pointer;
  justify-content: flex-start;
  /* text-align: center; */
}
button:hover {
  color: blueviolet;
  background-color: white;
  border: 1px solid sandybrown;
}
.notes {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.note--content {
  background-color: #ede4ff;
  width: 300px;
  height: 185px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
}

.note__title {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  color: #6528f7;
  /* vertical-align: center; */
  background-color: #d7bbf5;
  padding: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;

  /* gap: 8px; */
}
.note__description {
  margin-top: 6px;
  --max-lines: 3;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}
.note__description--background {
  font-size: 18px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  color: #482c89;
  /* height: max-content; */
  height: 100%;
}

.note--actions {
  margin-top: 8px;
  background-color: #d7bbf5;
  display: flex;
  border-radius: 8px;
  overflow: hidden;

  /* justify-content: space-evenly; */
}
.view {
  width: 50%;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}
.delete {
  width: 50%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
i {
  font-size: 20px;
}
.view:hover,
.delete:hover {
  background-color: #b29bea;
}
