* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: lightslategray;
}
button {
  color: white;
  background-color: blueviolet;
  transition: all 0.5s;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 10px;
}
button:hover {
  color: blueviolet;
  background-color: #fff;
  cursor: pointer;
}
section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
